img {
  width: 300px;
  float: right;
  border-radius: 50%;
  margin-right: 75px;
  margin-top: 60px;
}

#hello-info {
  float: left;
  font-family: monospace;
  text-align: center;
}

#intro {
  font-size: 20pt;
  margin-left: 75px;
  text-align: center;
}

h1 {
  float: left;
  font-size: 100pt;
}
